<!DOCTYPE html><html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div id="div1">
            是否需要额外付费设施:
            <input type="checkbox" v-model="isShow" >
            <!--默认有勾选功能，选中变true-->
            <ul>
                <li v-for="val in arr" v-show="isShow">
                    {{val.name}}({{val.price}})
                    <input type="checkbox" v-model="arr1" :value="val">
                </li>
            </ul>
            订单费用信息
            <ul>
                <li v-for="val in arr1">
                    {{val.name}}({{val.price}})
                </li>
            </ul>
            总金额:{{total()}}
        </div>
        <script src="vue.js"></script>
        <script>
            var vm = new Vue({
                el:"#div1",
                data:{
                    isShow:false,
                    arr:[{name:"沙发",price:100},
                        {name:"床",price:200},
                        {name:"wifi",price:20}
                    ],
                    arr1:[{name:"群力豪华花园内",price:400}]
                },
                methods:{
                    total(){
                        var sum = 0;
                        this.arr1.forEach(function(xx){
                            sum += xx.price
                        })
                        return sum;
                    }
                 }
            })







        </script>
    </body>
</html>