/*这是一个多行注释*/
//这是一个单行
/*!强制*/
$color:rgba(0,0,0,.5);
$bg:background;
$test:test;
@import "_common";
#div1{
  background:$color;
  color:$color;
}
#div2{
  font-size:16px;
  a{
    color: #000000;
    &:hover{
      font-size:20px;
    }
    &-test{
      font-size: 22px;
    }
  }
}
#div3{
  background:{
    color: #ffffff;
    position:0 center;
    size:contain;
  }
}
#div4{
  border:{
    left:{
      style:solid;
      width:1px;
      color:#00A5FF;
    }
  }
}
##{$test}{
  #{$bg}:url("");
 }
@mixin xxx($size,$color:#000){
  width: $size;
  height: $size;
  background: $color;
}
#div5{
  @include xxx(200px);
  a{
    font-size:10px;
  }
}
#div6{
  @include xxx($color:#f0f,$size:300px)
}
#div7{
  width: 200px;
  @extend #div5;
}
#div8{
  color:lighten($color,20%);
  backdround:opacify($color,0.3);
}
$m: (light: #fff, dark: #000);
#div9{
  color:map-get($m,light);
}
#div10{
  @for $i from 1 through 5{
    .cl-#{$i} {
      width: $i+px;
    }
  }
}
$list:fail,success,wran;
@each $var in $list{
  .#{$var}{
    background:icon-$var;
  }
}
$i:5;
@while $i>2{
  .div1{
    width: 100px;
  }
  $i:$i - 2;//必须加空格
}
@function xxx($num){
  @if($num>10){
    @return $num - 10;
  }@else if($num>5){
    @return $num - 5;
  }@else{
    @return $num - 1;
  }

}
#div11{
  width:xxx(3)+px;
}