*{
    touch-action: none;
}
.am-navbar-dark{
    background-color: #00bfae;
    color:#fff;
}
.am-navbar-left, .am-navbar-right{
    flex: none;
}
.am-search{
    width:100%;
    background-color:transparent;
}
.am-search-cancel{
    color:#fff;
}
.am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon {
    margin-top: 9px;
    width: 40% !important;
    /*优先级最高*/
}
.am-grid-text{
    font-size: 14px;
}
.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content .am-grid-text {
    font-size: 14px;
}
#wapper{
    background: #ffffff;
    margin-top:12px;
}
#wapper .color1{
    color:green;
}
#wapper .color2{
    color:red;
}
#wapper .color3{
    color:deeppink;
}
#wapper .title{
    text-align: center;
}
#wapper .txt{
    text-align: center;
}
#wapper .header{
    width: 125px;
}
#wapper img{
    width: 100px;
    height: 100px;
    padding-left:12px;
}
#wapper .nav{
    float:left;
}