*{
    touch-action: none;
}
.am-navbar-dark{
    background-color: #00bfae;
    color:#fff;
}
.am-navbar-left, .am-navbar-right{
    flex: none;
}
.am-search{
    width:100%;
    background-color:transparent;
}
.am-search-cancel{
    color:#fff;
}
.am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon {
    margin-top: 9px;
    width: 40% !important;
    /*优先级最高*/
}
.am-grid-text{
    font-size: 14px;
}
.am-grid .am-flexbox .am-flexbox-item .am-grid-item-content .am-grid-item-inner-content .am-grid-text {
    font-size: 14px;
}
